<div class="page-header">
    <h1>Create Employee</h1>
</div>

<form CLASS="form-horizontal" ng-submit="">

    <div class="form-group">
        <label class="control-label col-sm-2" for="userName">Username</label>
        <div class="col-sm-6">
            <input id="userName" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">First Name</label>
        <div class="col-sm-6">
            <input id="firstName" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">Last Name</label>
        <div class="col-sm-6">
            <input id="lastName" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-6">
            <input id="email" type="email" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="phone">Phone</label>
        <div class="col-sm-6">
            <input id="phone" type="tel" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="dob">Date of Birth</label>
        <div class="col-sm-6">
            <input id="dob" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="taxNo">Tax Number</label>
        <div class="col-sm-6">
            <input id="taxNo" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="street">Street</label>
        <div class="col-sm-6">
            <input id="street" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="zipcode">Zip code</label>
        <div class="col-sm-6">
            <input id="ZipCode" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="city">City</label>
        <div class="col-sm-6">
            <input id="city" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="country">Country</label>
        <div class="col-sm-6">
            <input id="country" type="text" class="form-control" ng-model="">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Create Employee</button>
        </div>
    </div>

</form>